.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.main-container {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  color: #000;
  padding-bottom: 25px;
}

.nav-link {
  color: black !important;
  font-weight: bold;
}

button.btn-contact-me {
  font-size: 12px;
  font-weight: bold;
  padding: 8px 25px 9px 25px;
  color: white;
  background-color: black;
  border-radius: 15px;
  white-space: nowrap;
}

  @media (max-width: 768px) {
    .icon-col {
      margin-right: -20px;
    }
  }

.header-into {
  font-size: 35px;
  font-weight: 600;
}

.header-para {
  font-weight: 600;
}

.travel-card-title {
  color: black;
  font-size: 22px; 
}

.img-wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.img-wrapper img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(35%);
}

.card {
  margin-bottom: 5px;
}

.ud-logo-indesc {
  height: 30px;
}
.custom-search-bar {
  width: 300px;
  height: 30px;
} 

.web3-container {
  background-color: #F5F5F5;
  width: 100%;
  border: 2px solid grey;
  margin: 50px 0px 50px 0px;
}

.project-bullets {
  margin-left: 15px;
}

.domain-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.domain-card-body {
  background-color: rgb(77, 72, 242);
  border-radius: 0;
}

.domain-card-title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.domain-tld {
  color: white;
  font-weight: 700;
  border: 2px solid rgba(112, 232, 252);
  border-radius: 25px;
  padding: 5px;
}

.spotify-container {
  color: white;
}

.spotify-search-bar {
  width: 300px;
  height: 30px;
}

.spotify-card {
  box-shadow: 0 0 5px 5px rgb(241, 244, 241);
}

.news-container {
  border: 2px solid;
  border-radius: 25px;
}

@font-face {
  font-family: 'newsfonts';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'newsfonts';
  src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800; 
}

@font-face {
  font-family: 'newsfonts';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal; 
}

@media (min-width: 768px) {
  /* Apply padding only on devices with a viewport width of 768 pixels or more (desktop) */
  .news-container {
    padding: 25px 0 25px 50px !important;
  }
}

@media only screen and (max-width: 768px) {
  /* Styles specific to screens below 768px width */
  .menu-bars {
    display: block; /* Show the menu-bars div */
  }
}

.news-link {
  font-family: 'newsfonts', sans-serif;
  font-weight: bold;
  color: rgb(168, 166, 164) !important;
  font-size: 12px;
  margin-right: 10px;
}

.main-img {
  margin-bottom: 20px;
  margin-right: 10px;
}

.main-head {
  font-family: 'newsfonts', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 0.90;
}

.main-para {
  color: rgb(168, 166, 164);
  font-size: 10px;
  font-weight: bold;
}

.main-btn {
  color: white;
  background-color: rgb(228, 111, 66) !important;
  font-size: 10px !important;
  margin-top: 5px !important;
  border-radius: 0 !important;
  padding: 7px 20px 7px 20px !important;
  font-family: 'newsfonts', sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 2px !important; 
}

.right-box {
  background-color: rgb(0, 1, 25);
}

@media (max-width: 561px) {
  .right-box {
    margin-top: 12px !important;
  }
}


.right-headline {
  font-family: 'newsfonts', sans-serif;
  font-weight: 800;
  color: rgb(223, 177, 90);
  margin-top: 20px;
  margin-left: 5px;
}

.right-heading {
  color: rgb(216, 219, 227);
  font-family: 'newsfonts', sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
}

.right-para {
  color: rgb(123, 124, 142);
  font-size: 12px;
  padding-bottom: 5px; 
  margin-left: 5px;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-left: 5px;
  margin-right: 5px;
}

.img-thumbnail {
  width: 100px;
  height: 110px;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .footer-col {
    margin-bottom: 10px !important;
  }
}

.footer-num {
  color: rgb(191, 189, 188);
}

.footer-head {
  font-size: 12px;
  font-family: 'newsfonts', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-para {
  color: rgb(191, 189, 188);
  font-size: 11px;
}

.site-footer {
  background-color: black;
  padding: 50px; 
  margin: 25px 0 0 0;
  color: white;
}

.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

/* Navbar CSS */
.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px;
  list-style: none;
  height: 40px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 14px;
  font-weight: bold;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-menu-items {
  list-style-type: none; /* Remove bullet points from the list items */
  padding-left: 0; /* Remove left padding */
  margin-left: 0; /* Remove left margin */
}

.navbar-toggler {
  display: grid;
}

.mobile-menu-close {
  width: 20px;
  height: 20px;
  margin-right: 2rem;
  margin-top: 10px;
  margin-bottom: 50px;
  align-self: flex-start;
}

.news-container .btn {
  width: 100%; /* Makes the button fill the container's width */
  max-width: 200px; /* Optional: set a max-width to keep it from getting too wide */
}